body {
    background: rgb(112,048,160);
    margin: 0;
    color: black;
  }
  
  p {
    font-family: Georgia, serif;
  }
  
 
  nav{
  width: 100%;
  height: 100px
  text-align center;
  }
  
  ul {
  background-color: gray
  }
  
  ul li {
    background-color: gray;
    list-style: none;
    display: inline-block;
    line-height: 100px
  
  }
  
  
  
  link {
    text-decoration: none;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: purple;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Georgia;
    border-color: black;
    font-size: 20px;
  }
  
  
  div{
    align-items: center;
  }
  
  p{
    padding-left: 10px;
    color: white
  }
  
  .nav{
    text-align: center;
  }
  
  h2{
    text-decoration: underline;
    text-decoration-color: silver
  }
  
  h1{
    color: grey
  }
  
  .primary {
      color: orange;
  }